.contacts{
    width: 100vw;
    height: 100vh;
    padding: 60px;
}

.contacts-box{
    background: #C0C0C0;
    height: 100%;
    width: 100%;
    border: 10px solid black;
    box-shadow: 15px 15px 4px #00000091;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.contacts-box .contact-contents{
    height: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-box .contact-contents .box-box{
    height: auto;
    width: 400px;
    background: #D9D9D9;
    border: 7px solid #a3a3a3;
    border-radius: 15px;
    box-shadow: 15px 15px 4px #0000004b;
    cursor: pointer;
}

.contacts-box .contact-contents h2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contacts-box h1 {
    font-family: "Micro 5", sans-serif;
    font-size: 2.4em;
}

.svg{
    height: 55px;
}

@media (max-width: 500px){
    .contacts-box .contact-contents .box-box{
        width: 260px;
    }
    .contacts-box .contact-contents h2{
        font-size: 1em;
    }

    .contacts{
        padding: 30px;
    }
    .svg{
        height: 45px;
    }
}

@media(max-width: 350px){
    .contacts-box .contact-contents .box-box{
        width: 230px;
    }

    .svg{
        height: 25px;
    }
}