.projects{
    display: flex;
    padding: 60px;
    justify-content: center;
    width: 100vw;
    max-width: 1440px;
    margin: 0 auto;
}

.projects-box{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    height: auto;
    width: 90vw;
    gap: 30px;
    background: #C0C0C0;
    border: 10px solid black;
    box-shadow: 15px 15px 4px #00000091;
}

.projects-box h1{
    font-family: "Micro 5", sans-serif;
    font-size: 2.4em;
}

.projects-box .all-projects{
    margin: 20px 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.projects-box .all-projects .projectss{
    height: 160px;
    width: 278px;
    display: flex;
    border: 7px solid #a3a3a3;
    box-shadow: 15px 15px 4px #0000004b;
    background: #D9D9D9;
    flex-direction: column;
    cursor: pointer;
}

.projects-box .all-projects .projectss:hover{
    background: #5a5a5a;
}

.projectss .proj-title{
    margin: 10px 15px;
}

.proj-desc{
    width: 100%;
    margin-top: 20px;
}

.projectss .proj-desc p{
    text-align: center;
}

@media (max-width: 800px){
    .projects-box .all-projects .projectss{
        width: 230px;
    }

    .projects{
        padding: 30px;
    }
}