*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .6)),url(https://res.cloudinary.com/dbu4ot4gh/image/upload/v1724033449/bg_vwkbnc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.projects{
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 0 90px;
    overflow-x: hidden;
}

.projects-box{
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 32px;
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;

}

.projects-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.project-btn{
    height: 188px;
    width: 370px;
    border-radius: 15px;
    border: none;
    background: #d9d9d977;
    font-size: 48px;
    color: #ffffff;
    cursor: pointer;
}

.project-btn:hover{
    background: #d9d9d93d;
}

.project-img{
    width: 80px;
    height: 80px;
}

.hobbies-box{
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 32px;
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.hobbies-list{
    width: 100%;
    color: white;
    margin-bottom: 5px;
    font-size: 26px;
    max-width: 1100px;
    margin: 0 auto;
}

.hobbies-list h1{
    padding-left: 20px;
}

.hobbies-img{
    width: 80px;
    height: 92px;
}

.action-btn-box{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 10px;
    max-width: 1100px;
    margin: 0 auto;
}

.action-btn{
    color: white;
    width: 250px;
    height: 55px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #DA3068,#14469F);
    font-size: 30px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 20px;
}

.bx-right-arrow-alt{
    margin-left: 0.8em;
    position: relative;
}

.bx-left-arrow-alt{
    margin-right: 5em;
    position: absolute;
}

@media (max-width:768px){
    .projects{
        padding: 30px 30px;
    }
    .projects-box{
        padding-top: 0;
        font-size: 22px;
    }

    .project-img{
        width: 45px;
        height: 45px;
    }

    .project-btn{
        width: 345px;
        height: 86px;
        font-size: 22px;
    }

    .hobbies-box{
        padding-top: 30px;
        font-size: 22px;
    }

    .hobbies-img{
        width: 45px;
        height: 45px;
    }

    .hobbies-list{
        font-size: 22px;
    }

    .action-btn{
        font-size: 22px;
        width: 200px;
        height: 55px;
    }

}

@media (max-width:430px){
    body{
        touch-action: pan-y;
        height: 100vh;
        background-size: auto;
        background-position: center;
    }

    .projects{
        font-size: 16px;
        padding: 10px 30px;
    }
    .projects-box{
        font-size: 24px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .project-img{
        width: 55px;
        height: 55px;
    }

    .projects-btn{
        display: flex;
        flex-direction: column;
    }
    .project-btn{
        width: 298px;
        height: 66px;
        font-size: 28px;
    }

    .hobbies-box{
        font-size: 24px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .hobbies-list{
        font-size: 16px;
    }

    .hobbies-img{
        width: 55px;
        height: 55px;
    }

    .action-btn{
        font-size: 18px;
        width: 147px;
        height: 33px;
    }

    .bx-right-arrow-alt{
        margin-left: 0.3em;
    }
    
    .bx-left-arrow-alt{
        margin-right: 5em;
    }
}