@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Micro+5&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#180161, #4f1787);
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

header{
    display: flex;
    justify-content: flex-end;
    height: 60px;
    width: 100vw;
    background: linear-gradient(to right, #180161 0%,#4F1787 25%,#EB3678 75%, #FB773C 100%);
    box-shadow: 0 4px #0000002c;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    gap: 15px;
}

header nav a{
    font-family: "Micro 5", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;
}

header nav a:hover{
    color: #00aeff;
}

header nav img{
    height: 90px;
    font-size: 60px;
}

.contents{
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.idk{
    display: flex;
    gap: 50px;
}

.contents .img {
    height: 305px; 
    width: 305px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.content-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

.content-box .portfolio-text a img{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 32px;
    width: 32px;
}

.content-box .portfolio-text h1{
    font-size: 2em;
}

.content-box .portfolio-text{
    padding-top: 30px;
}

.content-box .portfolio-text p{
    padding-bottom: 20px;
    font-size: 1.5em;
}

.dl-icon {
    height: 32px;
    width: 32px;
}

.dl-btn{
    background: linear-gradient(to right,#4F1787 0%,#EB3678 49%,#FB773C 100%); 
    display: flex; 
    height: 46px; 
    width: 350px; 
    border: none; 
    border-radius: 15px; 
    justify-content: center; 
    align-items: center;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    box-shadow: 10px 10px 4px #0000002c;
    cursor: pointer;
}

.eh{
    height: 55px;
    position: fixed;
    right: 25px;
    bottom: 35px;
    font-size: 2em;
    cursor: pointer;
}

.slide{
    display: none;
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    background: linear-gradient(#180161,#4F1787,#EB3678,#FB773C);
    transition: 0.5s ease;
    transform: translateX(-180px);
}

.slide h1 {
    color: rgb(226, 223, 223);
    font-family: "Micro 5", sans-serif;
    font-weight: 800;
    text-align: center;
    padding: 10px 0;
    font-size: 2.5em;
    pointer-events: none;
}
.slide ul li {
    list-style: none;
}

.slide ul li a{
    color: black;
    font-family: "Micro 5", sans-serif;
    font-weight: 500;
    font-size: 2em;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    text-align: center;
}

.slide ul li:hover a{
    color: #fbfbfc;
    background-color: #FB773C;
}

input{
    display: none;
    visibility: hidden;
}

.toggle{
    display: none;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    background-color: #180161;
    z-index: 2;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .topline{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .midline{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .bottomline{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .topline {
    left: 3px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .bottomline {
    left: 3px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
input:checked ~ .toggle .midline {
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}




@media (max-width: 800px) {
    header nav {
        gap: 5px;
    }

    header nav img {
        height: 80px;
        font-size: 15px;
    }

    .contents .img{
        width: 220px;
        height: 220px;
    }
    .content-box .portfolio-text{
        padding-top: 0;
    }

    .content-box .portfolio-text h1{
        font-size: 1.8em;
    }
}

@media (max-width: 500px){
    .toggle{
        display: block;
    }
    .slide{
        display: block;
    }

    header nav{
        display: none;
    }
    .idk{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .contents .img{
        width: 150px;
        height: 150px;
    }
    .content-box {
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .content-box .portfolio-text{
        padding-left: 25px;
    }

    .content-box .portfolio-text h1{
        font-size: 1.5em;
    }
    .content-box .portfolio-text p{
        font-size: 1.3em;
    }

    .dl-btn{
        width: 250px;
        font-size: .8em;
    }
    .eh{
        height: 25px;
    }
}